.poolPage {
  background-color: transparent;
}

.poolResults {
  width: 100%;
  padding: 25px 40px;
  /* background-color: #f0f0f0 ; */
}

.roomCodeDisplay {
  padding: 15px 20px;
  background-color: #f0f0f0;
}

.punishmentDisplay {
  padding: 15px 20px;
  background-color: #f0f0f0;
}

.rewardDisplay {
  padding: 15px 20px;
  background-color: #f0f0f0;
}

.leaderboardDisplay {
  padding: 15px 20px;
  background-color: #f0f0f0;
}

.poolPage {
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
  padding: 3% 5%;
  background-color: white;
}